<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">APPLICANT’S AGREEMENT</h3>
    </div>
    <div class="panel-body">
        <div>
            <p>I understand that nothing contained in this application or conveyed verbally or in writing during any interview
                process is intended to create a contract, express or implicit, or offer or promise of employment. By filling
                out this application I am genuinely interested in working for Truck-Lite Co., LLC and I understand that an
                offer of employment may be subject to satisfactory reports and the accuracy of all pre-employment information
                I have supplied. I acknowledge that my employment with Truck-Lite Co., LLC is on an at-will basis, unless
                I become subject to a collective bargaining agreement, which means that, if hired, my employment is for no
                definite period and may be ended at any time, for any reason, with or without cause or notice, by either
                myself or Truck-Lite Co., LLC.</p>

            <p>If employed, I will be required to abide by the company’s rules and regulations, consistent with applicable federal,
                state or local law. I understand that the company has complete discretion to modify its policies, rules regulations
                and practices at any time, to the extent allowed by federal or state law. By my continued employment with
                the company, I consent to any changes.</p>

            <p>I hereby authorize Truck-Lite Co., LLC or its agents to verify all statements contained in this application and/or
                resume to the extent permitted by federal, state or local law. To the extent permitted by federal, state
                or local law, I release all parties from any liability arising out of this provision and the use of such
                information. I understand that any offer of employment is contingent upon complying with Truck-Lite Co.,
                LLC’s requirements, including, but not limited to, executing a separate Consent and Authorization to conduct
                a background check.</p>

            <p>I certify that the above information is complete and accurate to the best of my knowledge. I understand and agree
                that any falsification, misrepresentation, omission or incomplete statement on this form relating to my application
                of employment may result in my denial of employment or if employed, my immediate dismissal, whenever it is
                discovered. I agree not to knowingly submit to Truck-Lite Co., LLC any information that is false or contrary
                to applicable federal, state or local law.</p>

            <p>I understand that neither this document, nor any other document or letters received by me during my employment
                with Truck-Lite Co., LLC nor any offer of employment from Truck-Lite Co., LLC, nor any statement made by
                a Truck-Lite Co., LLC agent or representative constitute an employment contract, unless agreed to in a specific
                document to that effect by Truck-Lite Co., LLC and me in writing.</p>

            <p>I understand that if offered employment, I will be required to submit proof of my identity and legal right to
                work in the United States, as a condition of my employment, in accordance with applicable law. I further
                understand, if hired, Truck-Lite Co., LLC may request that I execute other documents (including, but not
                limited to, agreements regarding training, trade secrets, employee inventions, non-competition, non-interference,
                confidential information, and conflicts of interest).</p>

            <p>I understand if offered employment, my employment with Truck-Lite Co., LLC may be subject to any or all of the
                following, depending on the job position and applicable law: successful completion of a post-offer/pre-employment
                drug test, a review of references, a consumer report/background check, and collection and review of other
                background information including criminal conviction information, all in accordance with applicable law.
                I understand that I may be required to complete necessary consent forms in order for Truck-Lite Co., LLC
                to conduct post-offer/pre-employment background checks and/or pre-employment drug test. I understand that
                Truck-Lite Co., LLC recommends that I do not resign my current job until satisfactory post-offer, pre-employment
                check results are received.</p>

            <p>I certify that I have disclosed any active non-compete or other similar legal agreements that the Company or
                their pertinent client(s) for whom I am applying to work for should be aware of before making a decision
                to consider offering me employment. If employed by Truck-Lite Co., LLC, I agree not to bring any data or
                tools to my new job that do not belong to me.</p>

            <p>I hereby authorize Truck-Lite Co., LLC or its authorized agent, or others as identified by Truck-Lite Co., LLC,
                to verify all information provided in this application and/or my resume to the extent permitted by federal,
                state, or local law. To the extent permitted by federal, state, or local law, I release all parties from
                any liability arising out of this provision and the use of such information.</p>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                Signature of Applicant
                <input ng-model="formData.agreement.signature" placeholder="Signature" class="form-control input-md" type="text">
            </div>
            <div class="col-md-6">
                Date
                <input ng-model="formData.agreement.date" class="form-control input-md" type="date">
            </div>
        </div>
        <p class="help-block">Truck-Lite Co., LLC is committed to Equal Employment Opportunity and does not discriminate unlawfully on the basis
            of race, color, creed, disability, genetic information, national origin, ancestry, age, religion, gender, gender
            identity, sexual orientation, veteran or military status, marital status, status as a victim of domestic violence,
            or any other status protected by federal, state or local law. </p>
    </div>
</div>